.html {
  height: 100%;
  min-height: 100%;
}

.active {
  font-weight: bold !important;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.socials-paragraph {
  color: #ffffff !important;
  font-size: 14px !important;
}

.socials {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin: 0 0 0.5rem 0 !important;
  gap: 25px !important;
}

.socials a {
  text-decoration: none !important;
  color: #ffffff !important;
}

.socials a i {
  font-size: 1.6rem !important;
  transition: color 0.4s ease !important;
}

.socials a:hover i {
  color: aqua !important;
}

#depoimento .container .cards .card {
  border: 2px solid #00d4ff;
  margin: 2rem;
}

#depoimento .container .cards .card img {
  margin: 1rem;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  border: 3px solid #ffc107;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
